body{

margin:0;

font-family:'Inter',sans-serif;

background:#f7f9f8;

color:#333;

}

h1,h2,h3{

font-family:'Playfair Display', serif;
}
nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:22px 70px;

background:white;

position:sticky;

top:0;

z-index:1000;

box-shadow:0 5px 20px rgba(0,0,0,0.06);

}
nav h2{

font-size:30px;

font-weight:700;

color:#2F5D50;

margin:0;

letter-spacing:1px;

}

nav ul{

display:flex;

list-style:none;

gap:40px;

margin:0;

padding:0;

align-items:center;

}

nav a{

text-decoration:none;

color:#2D2D2D;

font-weight:500;

font-size:16px;

transition:0.3s;

}
nav a:hover{

color:#2F5D50;

}

.hero{

display:flex;

align-items:center;

justify-content:center;

padding:80px;

gap:80px;

}

.hero img{

width:320px;

border-radius:12px;

box-shadow:0 15px 35px rgba(0,0,0,.15);

}

.hero h1{

font-size:48px;

margin-bottom:20px;

}

.hero p{

font-size:20px;

line-height:1.7;

max-width:600px;

}

button{

padding:16px 32px;

font-size:18px;

background:#2e7d32;

border:none;

color:white;

border-radius:8px;

cursor:pointer;

margin-top:30px;

}

button:hover{

background:#1b5e20;

}
